<div class="footer">
  <div class="main">
    <div class="leftpane">
      <img
        src="../../assets/media/pictures/cimer.png"
        alt="Veszprémi Érseki Főiskola Címere"
      />
      <br />
      <p>8200 Veszprém, Jutasi út 18/2</p>
      <p>+36 88 542 700</p>
    </div>
    <div class="rightpane">
      <div class="storks">
        <h1>Gólyáknak</h1>
      </div>
      <div class="seniors">
        <h1>Felsőbb éveseknek</h1>
      </div>
    </div>
  </div>
  <div class="allrightsreserved">
    © 2023 Veszprémi Érseki Főiskola. All rights Reserved. - Website is created
    by Stormarketingroup
  </div>
</div>
