<ul>
  <img src="../../assets/media/pictures/cimer.png" />
  <span>
    <li><a routerLink="">Veszprémi Érseki Főiskola</a></li>
    <li><a routerLink="/news">Hírek</a></li>
    <li><a routerLink="/documents">Dokumentumok</a></li>
    <li><a routerLink="/studentloan">Diákhitel</a></li>
    <li><a routerLink="/neptun">Neptun</a></li>
    <li><a routerLink="/gyik">GYIK</a></li>
    <li><a routerLink="/galery">Galéria</a></li>
    <li><a routerLink="/kollegium">Kollégium</a></li>
    <li><a routerLink="/szervezeti-felepites">Szervezeti felépítés</a></li>
    <li><a routerLink="/kapcsolat">Kapcsolat</a></li>
  </span>
</ul>
